/* wwdw */

:root {
    --bodymarginleftright: 5%;
    --margintop: 163px;
    --marginbottom: 80px;
    --wwdwgrey: teal;
    --wwdwsilver: mintcream;
}


body{
    font-family: 'Courier New', Courier, monospace;

    margin: 0;
    padding: 0;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--wwdwsilver);
}



header, footer, article, nav  {
    padding: 1em var(--bodymarginleftright) 1em var(--bodymarginleftright ) ;
}


/* nav */

nav {
    padding: 0.5em var(--bodymarginleftright) 0.2em calc( var(--bodymarginleftright) + 4px );
    margin-left:4px;
}
nav, nav a {
    color: var(--wwdwgrey)
}


/* header */

header {
    display: flex;
    align-items:top ;
    justify-content: space-between;
    background-color: var(--wwdwgrey);
}

header > div {
    display: flex;
    flex-direction: column;
}

header > div * {
    margin: 0.2em;
}

header h1, header p {
    color: white;
    padding-right: 2em;
}

header h1  {
    letter-spacing: -1px;
}

header p, header input, header button {
    margin: 0.5em;
    line-height: 1.5em;
}
header input {
    text-align: center;
}

#login { display: flex; }
#logout { display: none; }
#logout input { color: red; }
#loginwwdwid {display: none;}

/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: lightblue;
    /* background-color: yellow; */
}

footer span, footer a  {
    vertical-align: middle;
    margin-right: 1em;
    color: var(--wwdwgrey);
}

footer>span:nth-child(1) {
    /* fix for ㋛ */
    position: relative;
    top: -2px;
}


/* article */


article {
    padding-top: 10px;
    color: darkslategray;
    height:100%;
    margin-left: 8px;
    overflow-wrap: break-word;
}


article div {
    /* border: solid 1px orange; */
    margin: 2px;
}

article > div {
    border-left: solid 2px var(--wwdwgrey);
}

article #divsubmit {
    margin-top: 1em;
    border-left: none;
}

article > div > div > div {
    border-left: solid 2px lightblue;
    padding-left: 3px;
}

article a {
    color: var(--wwdwgrey);
    margin-right: 0.5em;
    text-decoration: none;
}

article div input {
    background-color: lightyellow;
    width: 50%;
}

article>div:nth-child(1) {
    padding: 2px;
}

article div label {
    /* border: solid 2px blue; */
    display: inline-block;
    width: 8em;
}

article > div > div > div label {
    /* border: solid 2px orange; */
    width: calc( 8em - 7px ) !important;
}


article div[contenteditable=true]{
    background-color: lightyellow;
}

article div label +div {
    display: inline-block;
    padding-right: 3em;
    border: solid 1px green;
}

article .changestosubmit {
    background-color: lightblue;
}

